body{
    margin: 0;
    padding: 0;
    background-color: rgb(132, 187, 77);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgreen;
    padding: 1% 0;
}
.logo{
    width: 5%;
}
nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: black;
}